In [1]:
# Importing sqlite3 and csv packages
import sqlite3
import csv

# Creating connection to the database
con = sqlite3.connect('employees.db')
cursor = con.cursor()

# Creating the table structure
create_table = """CREATE TABLE IF NOT EXISTS employee(
                    EMPLOYEE_ID INTEGER,
                    FIRST_NAME VARCHAR(20),
                    LAST_NAME VARCHAR(20),
                    EMAIL VARCHAR(20),
                    PHONE_NUMBER VARCHAR(20),
                    HIRE_DATE DATE,
                    JOB_ID VARCHAR(20),
                    SALARY INTEGER,
                    COMMISSION_PCT DECIMAL(5,2),
                    MANAGER_ID INTEGER,
                    DEPARTMENT_ID INTEGER);"""

# Executing the command
cursor.execute(create_table)

# Reading the data from CSV file using csv package
from pathlib import Path

current_directory = Path.cwd()

csv_file = 'employees.csv'

file_path = current_directory / csv_file


with open(file_path, 'r') as f:
    original_file = csv.reader(f)
    for row in original_file:
        if row[0] == "EMPLOYEE_ID":
            continue
        cursor.execute("INSERT INTO employee VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)", (row[0], row[1],row[2], row[3],row[4], row[5],row[6], row[7],row[8], row[9],row[10]))

# Data cleaning - Dropping unwanted columns
alter1 = cursor.execute("ALTER TABLE employee DROP EMAIL")
alter2 = cursor.execute("ALTER TABLE employee DROP PHONE_NUMBER")
alter3 = cursor.execute("ALTER TABLE employee DROP COMMISSION_PCT")

# After dropping 3 columns from the total of 11 columns, we have 8 columns
headings = ["Employee_ID","First_name","Last_name","Hire_Date","Job_ID","Salary","Manager_ID","Department_ID"]
data = cursor.execute("SELECT * FROM employee LIMIT 7").fetchall()

# Commit the transaction to save changes
con.commit()

# Close the cursor and connection
cursor.close()
con.close()